nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: end;
}

.sub-menu {
    align-items: center;
    background-color: rgb(250, 243, 231);
    border-bottom: 1px solid rgb(69, 66, 66);
    display: none;
    padding: 8px;
    width: 100%;
}

@media (max-width: 1400px) {
    header nav ul {
        display: none;
    }
    .sub-menu {
        display: flex;
    }
    .sub-menu nav ul {
        justify-content: start;
    }
}

nav ul li {
    /* margin: 16px; */
    /* margin-left: 16px;
    margin-right: 16px; */
    margin: 0 16px;
}

/* nav ul li a {
    color: grey;
    text-decoration: none;
} */

header a h1 {
    color: black;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: rgb(2, 87, 140);
    font-size: 1.75rem;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1400px) {
    a:hover {
        font-size: 1.25rem;
    }
}

a:visited  {
    color: rgb(114, 12, 114);
    text-decoration: none;
}

a:active {
    color: #fff;
}

.header-container {
    align-items: center;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 62px;
    position: fixed;
    padding: 8px;
    top: 0;
    width: 100%;
}